{% extends 'base.html' %} {% block content %}

<div class="wrapper">
	<div class="container">
		<div class="category__form">
			<form class="form" action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<h1 class="form__h1">Are you sure that you want delete categroy?</h1>
				<button class="form__bdel" type="submit">Delete</button>
				<div class="link__back">
					<a href="/categories/">Back</a>
				</div>
				<span class="form__error">{{ error }}</span>
			</form>
		</div>
	</div>
</div>

{% endblock %}
